*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:  hsl(0, 100%, 74%) ;
  background-image: url('../images/bg-intro-desktop.png');
}
h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3.7vw;
  width: 70%;
  text-align: left;
}
p{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.2vw;
  width: 70%;
}
button{
  background-color: hsl(248, 32%, 49%);
  width: 60%;
  height: auto;
  font-size: 0.9vw;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 2%;
  border: 0;
  border-radius: 10px;
  position: relative;
}
button::after{
  content:"";
  width: 100%;
  height: 35%;
  display: block;
  position: absolute;
  margin-top: 5px;
  background-color: black;
  bottom: -13%;
  left: 0;
  z-index: -1;
  border-radius: 8px;
  opacity: 15%;
}
button:hover{
background-color: hsl(248, 32%, 60%);
cursor: pointer;
}

span{
  font-weight: 700;
}
form{
  height: 70%;
  width: 60%;
  background-color: white;
  border: 0;
  border-radius: 10px;
  margin: 3% 0;
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
form p{
  color:hsl(246, 25%, 77%);
  font-size: 0.7vw;
  font-weight: 600;
  width: 90%;
  text-align: center;
  margin: 1% 0;
}
form a{
  color:hsl(0, 100%, 74%);
  font-weight: 700;
  text-decoration: none;
}
input{
  width: 100%;
  height: 100%;
  border:0;
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.7vw;
}
input:focus{
    outline: none;
}

.form-div{
width: 90%;
height: 20%;
padding: 2% 3%;
margin: 2%;
border:1.5px solid hsl(246, 25%, 77%);
border-radius: 5px;
position: relative;
}
.v1,.v2,.v3,.v4{
  color: hsl(0, 100%, 74%);
  font-style: italic;
  font-size: 0.7vw;
  text-align: right;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: none;

}
.img-input{
  display: inline;
  position: absolute;
  right:2%;
  bottom: 22%;
}
.im1,.im2,.im3,.im4{
  display: none;
}
.container{
  display: inline-flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
}
.first{
  float: left;
  justify-content: center;
  align-items:flex-end;
  padding: 0 2%;
}
.second{
  float: right;
  justify-content: center;
  align-items:flex-start;
  padding: 0 2%;
}
.btn2{
  background-color: hsl(154, 59%, 51%);
  width: 90%;
  height: 20%;
  text-transform: uppercase;
  font-weight: 600;
  margin: 5% 0;
  position: relative;
}

.btn2:hover{
    background-color: hsl(154, 59%, 60%);
}
@media only screen and (min-width:1551px)and (max-width: 1800px){
  .btn2{
    height:13%;
  }
  .form-div{
    height: 13%;
  }

  form{
    height: 55%;
  }
  .img-input{
    bottom: 22%;
  }

}
@media only screen and (min-width:1301px)and (max-width: 1550px){
  form{
    height: 50%;
  }
  .form-div{
    height: 13%;
  }
  input{
    font-size: 1vw;
  }
  .btn2{
    height:13%;
  }
  form p{
    font-size: 1vw;
  }
  .v1,.v2,.v3,.v4{
    font-size: 1vw;
  }
  .img-input{
    bottom: 20%;
  }

}
@media only screen and (min-width:901px)and (max-width: 1300px){
  h1,p{
    text-align: center;
  }
  h1{
    font-size: 6vw;
  }
  p{
    font-size: 3vw;
  }
  button{
    font-size: 2vw;
  }
  form{
    height: 800px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 7% 0;
  }
  .first{
    height: auto;
  }
  .second{
    height: auto;
    justify-content: flex-start;
  }
  .form-div{
    height: 15%;
  }
  input{
    font-size: 2vw;
  }
  .btn2{
    height:15%;
  }
  form p{
    font-size: 1.5vw;
  }
  .v1,.v2,.v3,.v4{
    font-size: 1.5vw;
  }
  .img-input{
    bottom: 32%;
  }
}
@media only screen and (min-width:501px)and (max-width: 900px){
  h1,p{
    text-align: center;
  }
  h1{
    font-size: 7vw;
  }
  p{
    font-size: 4vw;
  }
  button{
    font-size: 3vw;
  }
  form{
    height: 550px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5% 0;
  }
  .first{
    height: auto;
  }
  .second{
    height: auto;
    justify-content: flex-start;
  }
  .form-div{
    height: 15%;
  }
  .btn2{
    height:15%;
  }
  form p{
    font-size: 2vw;
  }
  .v1,.v2,.v3,.v4{
    font-size: 2vw;
  }
  .img-input{
    bottom: 22%;
  }
}
@media only screen and (max-width: 500px){
  h1,p{
    text-align: center;
  }
  h1{
    font-size: 7.5vw;
  }
  p{
    font-size: 4.5vw;
    width: 80%;
  }
  button{
    font-size: 4vw;
    width: 80%;
  }
  form{
    height: 400px;
    width: 80%;
  }
  input{
    font-size: 3vw;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5% 0;
  }
  .first{
    height: auto;
    margin-top: 10%;
  }
  .second{
    height: auto;
    justify-content: flex-start;
  }
  .form-div{
    height: 15%;
  }
  .btn2{
    height:15%;
  }
  form p{
    font-size: 3vw;
  }
  .v1,.v2,.v3,.v4{
    font-size: 3vw;
  }
  .img-input{
    bottom: 15%;
  }
  }
